body {
  font-family: "Poppins", sans-serif;
  width: -webkit-max-content;
  margin: auto;
}

.body {
  background: linear-gradient(#b5cbff, #f7faff);
  padding: 30px;
  border: 3px solid hsl(220, 8%, 69%);
  border-radius: 25px;
}

h1 {
  font-weight: 600;
  line-height: 20px;
  font-size: 45px;
  padding: 40px 0 15px;
  color: #4e525a;
  text-transform: capitalize;
}

.daysoftheweek {
  font-size: 16px;
  margin-left: 0;
}

.current-temp {
  font-size: 65px;
  color: #4e525a;
  font-weight: 500;
  padding: 10px 0 0 0;
  float: left;
}

a {
  text-decoration: none;
  color: #4798c7;
}

a:hover {
  color: #4e525a;
}

.temp-conversion {
  float: left;
  line-height: 4;
}

.temp-conversion .active {
  color: #4e525a;
  font-style: bold;
}

ul {
  display: block;
  list-style: none;
  color: #939aa9;
  margin: 0;
  padding: 0;
}

.current-details {
  padding: 65px 25px 0 0;
  float: right;
}

.catImages {
  margin: 0 auto;
  border-radius: 20px;
  display: block;
  padding: 10px 0;
}

.card {
  border-radius: 30px;
  color: #787d8a;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #939aa9;
}
